---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Nosotros">
    <section class="bg-orange-600 w-full h-full">
        <div>
            <h2>hola SOMOS GRUPO NEC</h2>
        </div>
    </section>
</Layout>