---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Clientes">
    <section class="bg-green-500 w-full h-full">
        <div>
            <h2>NUESTROS CLIENTES</h2>
        </div>
    </section>
</Layout>