---
import Layout from "../../layouts/Layout.astro";
import mapaGN from "../../assets/Contacto/mapaGN.png";
---

<Layout title="Contacto">
    <section class="w-full h-full flex justify-center items-center px-16 gap-8 py-4">
        <div class="w-[40%] h-full flex flex-col gap-4">
            <div class="text-2xl text-center flex flex-col text-[#002C38]">
                <h2>Información de Contacto</h2>
                <h2>¡Trabajemos Juntos!</h2>
            </div>
            <div class="w-full flex flex-col text-center justify-center items-center px-12">
                <p class="mb-4">Si deseas consultar para mayor información sobre nuestros productos o servicios, no dudes en contactarnos y uno de nuestros asesores te contactará a la brevedad</p>
                <a href="mailto:ventas@gruponec.net" target="_blank" class="flex items-center gap-1 hover:text-[#002C38]">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                    </span>
                    <span>ventas@gruponec.net</span>
                </a>
                <a href="tel:+51945046267" target="_blank" class="flex items-center gap-1 hover:text-[#002C38]">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 100 100"><path fill="currentColor" d="M84.96 70.237c-.167-1.032-.814-1.914-1.783-2.438l-14.335-8.446l-.118-.066a4.26 4.26 0 0 0-1.937-.45c-1.201 0-2.348.455-3.144 1.253l-4.231 4.233c-.181.172-.771.421-.95.43c-.049-.004-4.923-.355-13.896-9.329c-8.957-8.955-9.337-13.844-9.34-13.844c.005-.25.251-.838.426-1.02l3.608-3.607c1.271-1.274 1.652-3.386.898-5.022L32.19 16.938c-.579-1.192-1.704-1.928-2.952-1.928c-.883 0-1.735.366-2.401 1.031l-9.835 9.813c-.943.938-1.755 2.578-1.932 3.898c-.086.631-1.831 15.693 18.819 36.346C51.42 83.627 65.09 84.989 68.865 84.989a11 11 0 0 0 1.376-.071c1.316-.176 2.954-.986 3.891-1.925l9.827-9.826c.802-.806 1.168-1.871 1.001-2.93"/></svg>
                    </span>
                    <span>945 046 267</span>
                </a>
                <a href="tel:+51945046267" target="_blank" class="flex items-center gap-1 hover:text-[#002C38]">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 100 100"><path fill="currentColor" d="M84.96 70.237c-.167-1.032-.814-1.914-1.783-2.438l-14.335-8.446l-.118-.066a4.26 4.26 0 0 0-1.937-.45c-1.201 0-2.348.455-3.144 1.253l-4.231 4.233c-.181.172-.771.421-.95.43c-.049-.004-4.923-.355-13.896-9.329c-8.957-8.955-9.337-13.844-9.34-13.844c.005-.25.251-.838.426-1.02l3.608-3.607c1.271-1.274 1.652-3.386.898-5.022L32.19 16.938c-.579-1.192-1.704-1.928-2.952-1.928c-.883 0-1.735.366-2.401 1.031l-9.835 9.813c-.943.938-1.755 2.578-1.932 3.898c-.086.631-1.831 15.693 18.819 36.346C51.42 83.627 65.09 84.989 68.865 84.989a11 11 0 0 0 1.376-.071c1.316-.176 2.954-.986 3.891-1.925l9.827-9.826c.802-.806 1.168-1.871 1.001-2.93"/></svg>
                    </span>
                    <span>945 046 267</span>
                </a>
            </div>
        </div>
        <div class="flex flex-col w-[60%] gap-4">
            <div class="flex flex-col">
                <h2 class="text-2xl text-[#002C38]">Ubicación</h2>
                <a href="https://maps.app.goo.gl/CVHT3TS8spTQZDh99" target="_blank">Pasaje Boulevard. 158, Lima 15001</a>
            </div>
            <div>
                <a href="https://maps.app.goo.gl/CVHT3TS8spTQZDh99" target="_blank"><img src={mapaGN.src} alt=""></a>
            </div>
        </div>
    </section>
</Layout>