---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contacto">
    <section class="bg-blue-500 w-full h-full">
        <div>
            <h2>Puedes comunicarte con nosotros a traves de...</h2>
        </div>
    </section>
</Layout>