---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Almacenamiento">
    <section class="bg-red-800">
        <div>
            <h2>Almacenamiento</h2>
        </div>
    </section>
</Layout>