---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Componentes Hardware">
    <section class="bg-blue-600">
        <div>
            <h2>COMPONENTES HARDWARE</h2>
        </div>
    </section>
</Layout>