---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Entrada y Salida">
    <section class="bg-green-700">
        <div>
            <h2>Dispositivos de entrada y salida</h2>
        </div>
    </section>
</Layout>