---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Equipos Computo">
    <section class="bg-yellow-500">
        <div>
            <h2>Equipos de Computo</h2>
        </div>
    </section>
</Layout>