---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Perifericos y Accesorios">
    <section class="bg-violet-500">
        <div>
            <h2>Perifericos y accesorios</h2>
        </div>
    </section>
</Layout>