---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Redes y Conectividad">
    <section class="bg-cyan-600">
        <div>
            <h2>Redes y Conectividad</h2>
        </div>
    </section>
</Layout>