---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Servidores y Componentes">
    <section class="bg-rose-500">
        <div>
            <h2>Servidores y componentes</h2>
        </div>
    </section>
</Layout>