---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Sistemas de Energia">
    <section class="bg-orange-600">
        <div>
            <h2>Sistemas de energia</h2>
        </div>
    </section>
</Layout>