---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Prod. Software">
    <section class="bg-amber-900">
        <div>
            <h2>Software</h2>
        </div>
    </section>
</Layout>