---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import Carrusel from '../components/Carrusel.astro';
import CtgTienda from '../components/Ctg_Tienda.astro';
import Liquidacion from '../components/Liquidacion.astro';
import Partner from '../components/Partner.astro';
import Soluciones from '../components/Soluciones.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Grupo Nec">
	<main>
		<Slider></Slider>
		<Soluciones></Soluciones>
		<!-- <Carrusel></Carrusel>-->
		<CtgTienda></CtgTienda>
		<Liquidacion></Liquidacion>
		<Partner></Partner>
		<Banner></Banner>
	</main>
</Layout>

