---
import Layout from '../layouts/Layout.astro';
import Header from '../components/NavBar.astro'
import Slider from '../components/Slider.astro';
import CtgTienda from '../components/Ctg_Tienda.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header></Header>
		<Slider></Slider>
		<CtgTienda></CtgTienda>
		<div class="h-96 bg-orange-300">
			<h1>HOLA MUNDO</h1>
		</div>
	</main>
</Layout>

