---
import Image from "astro/components/Image.astro";
import LogoGN from "../assets/Logos/GRUPONEC_LOGO_OFICIAL.png";
---

<nav class="bg-slate-600 flex items-center h-20 w-full px-4">
    <div class="h-full w-2/5">
        <img src={LogoGN.src} class="h-full w-auto">
    </div>
    <!-----MENU LAPTOP/DESKTOP-->
    <div class="hidden md:flex h-full w-3/5 items-center justify-evenly xl:text-xl">
        <a href="" class="hover:text-[#fff] hover:border-b-4">Inicio</a>
        <a href="">Productos</a>
        <a href="">Soluciones</a>
        <a href="">Nosotros</a>
        <a href="">Clientes</a>
        <a href="">Contacto</a>
    </div>
</nav>