---
import ciscofondo from "../assets/Slider/ciscoswitch.png";
---

<div class="relative lg:h-full my-4">
  <div class="flex flex-col-reverse lg:flex-row h-full lg:justify-center justify-evenly">
    <div class="lg:w-1/2 flex flex-col gap-4 lg:gap-0">
      <div class="bg-[#192855] text-white flex flex-col justify-center p-4 lg:p-6 gap-4 lg:h-[84%] h-full">
        <h2 class="text-2xl lg:text-6xl 2xl:text-7xl text-center lg:text-left">
          Revoluciona tu infraestructura con los switches Cisco C9300
        </h2>
        <p class="hidden lg:block text-lg 2xl:text-4xl">
          Conectividad inteligente, velocidad sin límites y seguridad para el futuro
        </p>
      </div>
      <div class="flex justify-center lg:h-[16%] h-full w-full py-2 items-center">
        <a href="/productos/liquidacion" class="bg-[#0e1838] text-[#fff] p-3 lg:p-4 2xl:p-8 rounded-2xl text-base 2xl:text-3xl hover:bg-[#1c2f6b]">
          Productos en Liquidación
        </a>
      </div>
    </div>
    <div class="lg:w-1/2">
      <picture>
        <source srcset={ciscofondo.src} media="(min-width: 1024px)" />
        <img src={ciscofondo.src} class="w-full" alt="Cisco Switch" />
      </picture>
    </div>
  </div>
</div>
