---
import fondo from "../assets/Soluciones/fondo.png";
import reparcompu from "../assets/Soluciones/reparacionComput.jpg";
---

<section class="w-full my-12">
    <div class="w-full flex justify-center items-center gap-16">
        <div class="w-[25%] px-4 py-2 bg-blue-500 flex flex-col justify-center items-center gap-4 rounded-2xl">
            <h2>Reparación de Equipos</h2>
            <img src={reparcompu.src} alt="">
            <span class="rounded-lg bg-neutral-700 px-2 py-2"><a href="">Más Información</a></span>
        </div>
        <div class="w-[25%] px-4 py-2 bg-blue-500 flex flex-col justify-center items-center gap-4 rounded-2xl">
            <h2>Reparación de Equipos</h2>
            <img src={reparcompu.src} alt="">
            <span class="rounded-lg bg-neutral-700 px-2 py-2"><a href="">Más Información</a></span>
        </div>
        <div class="w-[25%] px-4 py-2 bg-blue-500 flex flex-col justify-center items-center gap-4 rounded-2xl">
            <h2>Reparación de Equipos</h2>
            <img src={reparcompu.src} alt="">
            <span class="rounded-lg bg-neutral-700 px-2 py-2"><a href="">Más Información</a></span>
        </div>
    </div>
</section>
