---
import Header from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import BtnWhatsapp from "../components/BtnWhatsapp.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Header></Header>
		<slot/>
    <BtnWhatsapp></BtnWhatsapp>
    <Footer></Footer>
	</body>
</html>
<style is:global>
	html {
		background: #fff;

	}

	@font-face {
    font-family: "HelveticaNeue";
    src: url("/font/HelveticaNeuelt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
      font-display: swap;
  }
  @font-face {
      font-family: "HelveticaNeue";
      src: url("/font/HelveticaNeueHv.ttf") format("truetype");
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
      font-family: "HelveticaNeue";
      src: url("/font/HelveticaNeueUltraLightv130.ttf") format("truetype");
      font-weight: 200; /* Lighter weight */
      font-style: normal;
      font-display: swap;
  }
  @font-face {
      font-family: "HelveticaNeue";
      src: url("/font/Light.ttf") format("truetype");
      font-weight: 300; /* Light weight */
      font-style: normal;
      font-display: swap;
  } 

	body{
		font-family: "HelveticaNeue", sans-serif ;
	}
</style>
